# Игнорировать venv в абсолютно любой подпапке проекта
**/venv/
**/.venv/
**/env/

# Игнорировать кэш Python везде
**/__pycache__/
**/*.pyc

# Игнорировать временные файлы Jupyter во всех папках
**/.ipynb_checkpoints/